<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите ваше имя">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Отправить</button>
    </form>
</div>
<div>
    hello, {{user}}
</div>
</body>